@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* body{
    height:100vh;
} */
header {
    text-align: center;
    margin:0;
    padding:0px;
    padding-bottom:30px;
    background:#777;
    color:white;
}
header h1{
    padding:40px;
    font-size:100px;
}
header ul{
    display: flex;
    padding: 10px;
    font-size:18px;
    font-weight: 200;
    justify-content: center;
    border-bottom: 0.1rem solid white;
    position:fixed;
    top:0%;
    background: black;
    width: 100%;
    z-index: 1;
    list-style-type: none;
}
header li{
    margin:0px 40px;
}
header li a{
    text-decoration: none;
    color:white;
}
section h2{
font-family: "Metal Mania";
text-align: center;
padding: 20px;
font-size: 30px;
}

.container{
    max-width:900px;
    margin:0 auto;
    padding:20px 30px;
}
#music-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#music-content div{
    margin:50px;
}
#music-content div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
#music-content .prod-details{
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}

#music-content .shop-item-button{
    cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}
#music-content .shop-item-button:hover, #merch-content .shop-item-button:hover{
    background: #0eabdf;
}
#merch-content{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#merch-content div{
    margin:30px;
}
#merch-content div h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
#merch-content .prod-details{
    display:flex;
    margin:8px;
    align-items:center;
    justify-content: space-between;
}

#merch-content .shop-item-button{
    cursor:pointer;
    padding:8px;
    color:white;
    border:none;
    font-size:15px;
    font-weight: bold;
    border-radius: 4%;
    background: #56CCF2;
}
footer{
    display:flex;
    margin-top:40px;
    padding:20px;
    background: #56CCF2;
}
footer{
    display:flex;
    margin-top:40px;
    padding:20px;
    background: #56CCF2;
}
footer .footer-title{
    text-align: center;
    color:white;
    width:50%;
    font-size:50px;
    font-weight:bold;
    margin:0 auto;
}footer .footer-icons{
    width:50%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.footer-icons ul{
    list-style-type: none;
    display:flex;
}
.footer-icons li{
    padding:10px;
    margin:0px 20px;
}
.footer-icons li:hover{
    background:rgb(17, 206, 206);
}
.footer-icons img{
    width:30px;
}
.image-container{
    height: 400px;
    width: 250px;
    overflow: hidden;
}
.prod-images{
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding:0px;
    margin:0px;
    transition: ease-in 0.5s;
    filter: brightness(100%);
}
#about img{
    float:left;
    margin:20px 50px;
    border-radius: 50%;
    width:200px;
    height:200px;
}
#about p{
    font-size:17px;
    margin:20px;
    color:#777;
}
#about h3{
    text-align: center;
    font-size:25px;
    margin:20px;
}
#about{
    max-width:900px;
    margin:0 auto;
    font-size: 22px;
}
header .latest-album{
    display:block;
    /* text-align: center; */
    color:white;
    background:inherit;
    font-size:23px;
    margin: 10px auto ;
    border:1px solid #56CCF2;
    padding: 15px 30px;
    font-weight: 200;
    cursor: pointer;
}
header .play-btn{
    cursor: pointer;
    display:block;
    border:2px solid #56CCF2;
    border-radius:50%;
    padding:20px;
    font-size:30px;
    font-weight: 200;
    margin:20px auto;
    background: inherit;
    color:#56CCF2;
}
#tours .tour-item{
    display:flex;
    border-bottom:1px solid black;
    padding:10px;
}
#tours .tour-item .tour-date{
    width:12%;
}
#tours .tour-item .tour-place{
    width:25%;
    color:#777;
}
#tours .tour-item .tour-spec-place{
    width:53%;
    color:#777;
}
#tours .tour-item .buy-btn{
    width:20%;
    background: #56CCF2;
    color:white;
    border:none;
    padding:7px;
    border-radius:5px;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}